<!-- <mat-card >
  <mat-card-title>Bienvenue sur le site ! </mat-card-title>
  <mat-card-subtitle>des statistiques partout ici et là ...</mat-card-subtitle>
  <img mat-card-image [src]="bgiGris" alt="image de fond Home">
  <mat-card-content>
    Visualiser les statistiques détaillées de votre application :
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis urna quis lorem porttitor, ac volutpat lectus tristique. Etiam non ullamcorper leo. Vestibulum rutrum massa a vulputate rhoncus. Donec porttitor odio mauris, laoreet vulputate tortor porta eu. Etiam ut placerat ante, ut luctus velit. Etiam at nisl ullamcorper, iaculis nisi in, tristique eros. Pellentesque consequat velit ut odio egestas, ac volutpat nibh fringilla. Suspendisse in ipsum in mauris varius gravida. Donec blandit suscipit eros tristique pulvinar. Integer sed lobortis nibh. Morbi maximus orci tellus, in mattis orci sagittis nec.
  </mat-card-content>
</mat-card> -->

<div class="view intro">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 w-100">
        <div class="col-md-2 pl-5 ml-5">
            <img src="/assets/images/Logo_Guidance.png" alt="logo" width="90" height="120">
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="">
            <h2 class="h1 mb-3 text-cobalt text-center"><strong>Portail Statistiques de la <br>Guidance Applicative</strong></h2>
            <hr class="hr-rose mt-4">
            <h5 class="text-cobalt text-center"><strong>Analyse & Pilotage</strong></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



